@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap";

/* src/index.css */
:root {
  --primary:
    255,
    255,
    255;
  --secondary:
    0,
    0,
    0;
  --brand-1:
    248,
    73,
    27;
  --brand-2:
    241,
    47,
    63;
  --brand-3:
    220,24,96;
  --panel:
    28,
    28,
    30;
  --panel-active:
    46,
    46,
    48;
  --panel-dim:
    16,
    16,
    18;
  --background:
    13,
    13,
    13;
  --modal:
    42,
    42,
    44;
  --mockup-shadow:
    0,
    0,
    0,
    0.99;
  --success: #43d25a;
  --danger: #FF3131 ;
}
body {
  background: rgba(var(--secondary), 1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body,
html {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html *,
html :after,
html :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgba(var(--background), 1);
  color: rgba(var(--primary), 1);
  line-height: 0;
  position: fixed !important;
  left: 0;
  top: 0;
}
a,
body,
div,
footer,
h1,
h2,
h3,
h4,
h5,
label,
li,
nav,
p,
section,
ul {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.primary {
  color: rgba(var(--primary), 1) !important;
}
.secondary {
  color: rgba(var(--secondary), 1) !important;
}
.accent {
  color: linear-gradient(120deg, #ff6432 25%, #ff0065 45%, #7b2eff 75%) !important;
}
.danger {
  color: #f44 !important;
}
.success {
  color: var(--success) !important;
}
.bg_gray_icon {
  background: rgba(var(--primary), .12) !important;
}
@media only screen and (min-width:1080px) {
  .resolution_popup {
    display: none;
  }
}
@media only screen and (max-width:1080px) {
  .resolution_popup {
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding: 32px;
    background: rgba(var(--background), 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-gap: 8px;
    gap: 8px;
  }
  .resolution_popup .logo {
    width: 80px;
    height: auto;
  }
  .resolution_popup img {
    width: 100%;
    height: auto;
    max-width: 240px;
    margin: 24px 0;
  }
  .resolution_popup h2 {
    max-width: 320px;
  }
  .resolution_popup p {
    max-width: 260px;
  }
}
.h1,
h1 {
  font: 600 34px/44px Inter, sans-serif;
}
@media only screen and (max-width:600px) {
  .h1,
  h1 {
    font: 600 34px/44px Inter, sans-serif;
    letter-spacing: -1px;
  }
}
.h2,
h2 {
  font: 600 28px/38px Inter, sans-serif;
  letter-spacing: -1px;
}
@media only screen and (max-width:600px) {
  .h2,
  h2 {
    font: 600 28px/38px Inter, sans-serif;
    letter-spacing: -1px;
  }
}
.h3,
h3 {
  font: 600 23px/32px Inter, sans-serif;
  letter-spacing: -.6px;
}
@media only screen and (max-width:600px) {
  .h3,
  h3 {
    font: 600 23px/32px Inter, sans-serif;
    letter-spacing: -.6px;
  }
}
.h4,
h4 {
  font: 600 19px/26px Inter, sans-serif;
  letter-spacing: -.4px;
}
@media only screen and (max-width:600px) {
  .h4,
  h4 {
    font: 600 19px/26px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
.h5,
h5 {
  font: 600 17px/24px Inter, sans-serif;
  letter-spacing: -.6px;
}
@media only screen and (max-width:600px) {
  .h5,
  h5 {
    font: 500 18px/24px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
.btn,
button {
  padding: 0;
  background: 0 0;
  cursor: pointer;
  transition: all .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
  gap: 8px;
}
.splash_screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  background: rgba(var(--background), 1);
  z-index: 9999999999;
  flex-direction: column;
}
.splash_screen .preloader svg {
  transform: scale(1.6);
}
.splash_screen .preloader circle {
  stroke: rgba(var(--primary), .6);
}
.preloader {
  animation: spin 1s linear infinite;
  width: 20px;
  height: 20px;
}
.preloader svg {
  position: relative;
  width: inherit;
  height: inherit;
}
.preloader svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 1.6px;
  stroke-linecap: round;
  stroke-dasharray: 20;
  stroke-dashoffset: 8;
  transform: translate(2px, 2px);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.MuiSlider-root .MuiSlider-rail,
.MuiSlider-root .MuiSlider-track {
  color: rgba(var(--primary), .6);
  height: 4px;
  opacity: 1;
}
.MuiSlider-root .MuiSlider-rail {
  color: rgba(var(--panel-dim), 1);
}
.MuiSlider-root .MuiSlider-thumb {
  height: 24px;
  width: 14px;
  border-radius: 4px;
  background: rgba(var(--panel-active), 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .24);
  filter: brightness(150%);
}
.MuiSlider-root .Mui-active,
.MuiSlider-root .Mui-focusVisible {
  color: rgba(var(--primary), 1);
  box-shadow: none;
}
.MuiSlider-root:hover .MuiSlider-thumb {
  box-shadow: none;
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, .4);
  height: 24px;
  width: 14px;
}
.MuiSlider-root:hover .MuiSlider-rail,
.MuiSlider-root:hover .MuiSlider-track {
  opacity: 1;
}
.app_main {
  display: flex;
  align-items: stretch;
  grid-gap: 8px;
  gap: 8px;
  padding: 8px;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--background), 1);
  transition: transform .3s ease;
}
.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  grid-gap: 4px;
  gap: 4px;
  z-index: 10;
  opacity: 1;
  transform: translateX(0px) translateZ(0px);
}
.top {
  position: fixed;
  z-index: 9999;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  pointer-events: none;
}
.command_bar,
.chat_panel,
.navbar,
.panel {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  background: rgba(var(--panel), 1);
}
.chat_panel {
  min-width: 300px;
  max-width: 300px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  overflow-y: scroll;
  z-index: 10;
}
.navbar {
  justify-content: space-between;
  padding: 4px 4px 4px 4px;
  border-radius: 14px;
}
.navbar,
.navbar .name {
  display: flex;
  align-items: center;
}
.navbar .name {
  cursor: pointer;
  color: rgba(var(--primary), .36);
  position: relative;
}
.navbar .name .logo {
  height: 40px;
  width: auto;
}
.navbar .name .logo_svg svg {
  height: 40px;
  width: auto;
}
.navbar .name .arc3dia_tag {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .name .arc3dia_tag svg {
  height: 32px;
  width: auto;
  fill: "currentColor";
}
.navbar .name:hover svg {
  fill: rgba(var(--primary), 1);
}
.navbar .name .beta_tag {
  margin-left: 2px;
  padding: 2px 5px;
  border-radius: 5px;
  font: 600 12px/16px Inter, sans-serif;
  letter-spacing: 0.8px;
  color: rgba(57, 255, 20, 1.00);
}
.navbar .name > svg {
  width: 16px;
  height: 16px;
  opacity: 0;
  position: absolute;
  left: 150px;
}
.navbar .name:hover h4 {
  color: rgba(var(--primary), 1);
}
.navbar .name:hover .beta_tag {
  opacity: 0;
}
.navbar .name:hover > svg {
  opacity: 1;
  left: 165px;
}
.navbar .right {
  display: flex;
}
.navbar .right .update_btn.blink svg {
  animation: blink 2s ease infinite;
}
@keyframes blink {
  50% {
    color: #ffb700;
    transform: scale(1.2);
  }
}
.navbar .right button {
  color: rgba(var(--primary), .6);
}
.navbar .right button:hover {
  color: rgba(var(--primary), 1);
}
.btn_list_icon {
  padding: 8px;
  line-height: 0;
}
.btn_list_icon svg {
  width: 20px;
  height: 20px;
}
.btn_list_icon,
.panel .head .tabs button {
  border-radius: 8px;
}
.panel .head .btn_list_icon:hover {
  color: rgba(var(--primary), 1) !important;
}
.tip {
  position: relative;
  overflow: visible;
  opacity: 1;
}
.tip .tooltip {
  visibility: hidden;
  width: -moz-max-content;
  width: max-content;
  background: rgba(var(--panel-active), 1);
  box-shadow: inset 0 0 0 1px rgba(var(--primary), .04);
  color: rgba(var(--primary), 1);
  text-align: center;
  padding: 6px 12px;
  border-radius: 8px;
  z-index: 9999999;
  position: absolute;
  opacity: 0;
  transition: opacity .4s .5s;
}
@media only screen and (max-width:600px) {
  .tip .tooltip {
    display: none;
  }
}
.tip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.sidebar .panel {
  height: calc(100% - 50px);
}
.panel {
  position: relative;
  border-radius: 14px;
}
.panel .fragments {
  height: 100%;
  overflow-y: auto;
}
.panel .fragments .panel_fragment {
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  gap: 17px;
}
.panel .fragments .panel_fragment.chat {
  padding: 60px 12px;
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  gap: 24px;
}
.panel .fragments .panel_fragment .switch {
  margin: 6px 0;
}
.panel_option {
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
  gap: 6px;
}
.panel_option h6 {
  font: 600 11px/16px Inter, sans-serif;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: rgba(var(--primary), .36);
}
@media only screen and (max-width:600px) {
  .panel_option h6 {
    font: 500 14px/20px Inter, sans-serif;
  }
}
.controls .slider {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  gap: 12px;
}
.controls .blur_icon,
.controls .sharp_icon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgba(var(--primary), .12);
}
.controls .number_icon p {
  font: normal 13px/14px Inter, sans-serif;
  color: rgba(var(--primary), 1);
  opacity: .5;
  z-index: 1;
}
@media only screen and (max-width:600px) {
  .controls .number_icon p {
    font: normal 13px/14px Inter, sans-serif;
  }
}
.controls .sharp_icon {
  background: rgba(var(--primary), .36);
}
.controls .blur_icon {
  background: rgba(var(--primary), .36);
  width: 12px;
  height: 12px;
  border-radius: 3px;
}
.controls .slider .MuiSlider-root {
  flex: 1 1;
}
.switch {
  background: rgba(var(--panel-dim), 1);
  border-radius: 10px;
  padding: 4px;
  display: flex;
  grid-gap: 4px;
  gap: 4px;
  overflow: hidden;
}
.gpad_background {
  background: rgba(var(--panel-dim), 1);
  border-radius: 10px;
  padding: 4px;
  display: flex;
  grid-gap: 4px;
  gap: 4px;
  overflow: hidden;
  cursor: pointer;
}
.switch .switch_button {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 10px 0 5px;
  border-radius: 8px;
  background: 0 0 !important;
}
.switch .switch_button p {
  font: normal 11px/14px Inter, sans-serif;
  color: rgba(var(--primary), 1);
  opacity: .5;
  z-index: 1;
}
@media only screen and (max-width:600px) {
  .switch .switch_button p {
    font: normal 11px/14px Inter, sans-serif;
  }
}
.switch .switch_button div {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid rgba(var(--primary), .12);
  background: rgba(var(--primary), .12);
  z-index: 1;
}
.switch .switch_button .blur_icon {
  width: 17px;
  height: 17px;
  border-radius: 3px;
}
.switch .switch_button .medium_icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.switch .switch_button .active_indicator {
  background: rgba(var(--panel-active), 1);
  position: absolute;
  inset: 0;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}
.panel .stream_options {
  padding: 40px 10px 10px;
  border-radius: 0 0 14px 14px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  grid-gap: 6px;
  gap: 6px;
  background: linear-gradient(180deg, rgba(var(--panel), 0) 0, rgba(var(--panel), 1) 70%);
  z-index: 10;
}
.panel .stream_options .wrapper {
  flex: 1 1;
  position: relative;
}
.panel .stream_options .state_btn {
  padding: 10px;
}
.panel .stream_options .state_btn svg {
  width: 24px;
  height: 24px;
}
.panel .stream_options .state_btn:hover {
  background: rgba(var(--primary), .2) !important;
}
.panel .stream_options .stream_btn {
  width: 100%;
  justify-content: flex-start;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .6);
  position: relative;
  overflow: hidden;
  background: rgba(var(--background), .8);
  color: rgba(var(--primary), 1);
  padding: 6px 12px;
  height: 44px;
}
.btn_lg_label,
.btn_lg_mix {
  border-radius: 10px;
}
.panel .stream_options .state_btn .panel .chat_pane .emoji_btn {
  box-shadow: inset 0 0 0 1px rgba(var(--primary), .08) !important;
}
.btn_lg_label,
.btn_lg_mix {
  padding: 12px 16px;
}
.btn_l_mix svg {
  width: 20px;
  height: 20px;
}
.btn,
.btn:active,
.btn:focus,
.btn:hover,
button,
button:active,
button:focus,
button:hover {
  color: rgba(var(--primary), 1);
  outline: none;
  box-shadow: none;
}
.bg_blur,
.dropdown .drop_menu,
.modal_effects,
.MuiSlider-root .MuiSlider-thumb,
.toaster_default,
.toaster_error,
.toaster_success {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}
.modal_effects {
  overflow: hidden;
  background: rgba(var(--modal), 1);
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px rgba(var(--primary), .03), 0 16px 32px rgba(0, 0, 0, .24);
}
.tip .tooltip {
  font: normal 14px/20px Inter, sans-serif;
}
.panel .stream_options .stream_btn.idle .light {
  background: rgba(var(--brand-1), 1);
}
.panel .stream_options .stream_btn .light {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
  transform: scale(3);
}
.panel .stream_options .stream_btn.idle .dark {
  background: rgba(var(--panel-dim), 1);
}
.panel .stream_options .stream_btn .dark {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
  transform: scale(3);
}
.panel .stream_options .stream_btn div {
  text-align: left;
}
.btn_lg_mix svg {
  width: 20px;
  height: 20px;
  fill: rgba(var(--primary), 1);
}
.panel .stream_options .stream_btn div p {
  font: normal 10px/12px Inter, sans-serif;
}
.panel .stream_options .stream_btn div span {
  font: 400 15px/20px Inter, sans-serif;
}
.btn,
.toaster_default,
.toaster_error,
.toaster_success,
button {
  font: 500 15px/20px Inter, sans-serif;
  letter-spacing: -.4px;
}
@media only screen and (max-width:600px) {
  .btn,
  .toaster_default,
  .toaster_success,
  .toaster_error,
  button {
    font: 500 16px/20px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
.panel .stream_options .stream_settings_drop {
  position: absolute;
  right: 0;
  top: 0;
}
.panel .stream_options .stream_settings_drop .stream_settings_btn {
  border-left: 1.5px solid rgba(var(--primary), .15);
  border-radius: 0;
}
.panel .stream_options .stream_settings_drop .stream_settings_btn svg {
  transition: all .2s ease;
}
.panel .stream_options .stream_settings_drop .stream_settings_btn:hover {
  background: rgba(var(--secondary), .1);
}
.panel .stream_options .stream_settings_drop .drop_menu {
  padding: 10px 12px 12px;
  left: -130px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  gap: 12px;
}
.panel .stream_options .stream_settings_drop .drop_menu .stream_format button p {
  font-weight: 600;
}
.panel .stream_options .stream_settings_drop .drop_menu .stream_url button {
  aspect-ratio: 5/4;
}
.panel .stream_options .stream_settings_drop .drop_menu .stream_url button div {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2px 4px;
  font: 500 14px/20px Inter, sans-serif;
  letter-spacing: -.4px;
  font-weight: 600;
  letter-spacing: .4px;
}
@media only screen and (max-width:600px) {
  .panel .stream_options .stream_settings_drop .drop_menu .stream_url button div {
    font: 500 14px/20px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
.dropdown_menu {
  position: relative;
  z-index: 400 !important;
}
.dropdown_menu {
  position: relative;
  z-index: 400 !important;
}
.dropdown_menu .button_wrapper {
  position: relative;
  z-index: 50;
}
.dropdown_menu .drop_menu {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background: rgba(var(--modal), 1);
  padding: 6px;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px rgba(var(--primary), .03), 0 16px 32px rgba(0, 0, 0, .24);
}
.dropdown_menu .drop_menu button {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font: 500 15px/20px Inter, sans-serif;
  letter-spacing: -.4px;
}
@media only screen and (max-width:600px) {
  .dropdown_menu .drop_menu button {
    font: 500 16px/20px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
.dropdown_menu .drop_menu button:hover {
  background-color: rgba(var(--primary), .04);
}
.dropdown_menu .drop_menu button svg {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
@media only screen and (max-width:600px) {
  .dropdown_menu .drop_menu {
    padding: 8px;
    border-radius: 16px;
    grid-gap: 4px;
    gap: 4px;
    position: fixed;
    top: unset !important;
    left: 12px !important;
    width: calc(100vw - 24px) !important;
    bottom: calc(12px + env(safe-area-inset-bottom, 0)) !important;
  }
  .dropdown_menu .drop_menu button {
    padding: 12px;
    border-radius: 10px;
    font: 500 15px/20px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
@media only screen and (max-width:600px)and (max-width:600px) {
  .dropdown_menu .drop_menu button {
    font: 500 16px/20px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
@media only screen and (max-width:600px) {
  .dropdown_menu .drop_menu button svg {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  .dropdown_menu .drop_menu .danger {
    background: rgba(255, 68, 68, .06);
  }
}
.btn_lg_icon {
  padding: 11px;
  line-height: 0;
}
.btn_lg_icon svg {
  width: 22px;
  height: 22px;
}
.btn_lg_icon {
  padding: 11px;
  line-height: 0;
}
.switch .switch_button {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 10px 0 5px;
  border-radius: 8px;
  background: 0 0 !important;
}
.switch .switch_button p {
  font: normal 11px/14px Inter, sans-serif;
  color: rgba(var(--primary), 1);
  opacity: .5;
  z-index: 1;
}
@media only screen and (max-width:600px) {
  .switch .switch_button p {
    font: normal 11px/14px Inter, sans-serif;
  }
}
.switch .switch_button div {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid rgba(var(--primary), .12);
  background: rgba(var(--primary), .12);
  z-index: 1;
}
.switch .switch_button.only_label p {
  font: 500 14px/20px Inter, sans-serif;
  letter-spacing: -.4px;
}
@media only screen and (max-width:600px) {
  .switch .switch_button.only_label p {
    font: 500 14px/20px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
.command_bar button,
.navbar .right button {
  transition: background-color .2s ease;
}
@media only screen and (min-width:1080px) {
  .command_bar button:hover,
  .navbar .right button:hover {
    background: rgba(var(--primary), .04);
  }
}
.command_bar button:active,
.navbar .right button:active {
  background: rgba(var(--primary), .12);
}
.text_input {
  position: relative;
}
.text_input input {
  width: 100%;
  border-color: rgba(var(--primary), .04);
  font: 500 15px/20px Inter, sans-serif;
  letter-spacing: -.4px;
  padding: 10px 12px 10px 48px;
}
@media only screen and (max-width:600px) {
  .text_input input {
    font: 500 16px/20px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
.text_input .url_icon {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 1px solid rgba(var(--primary), .12);
  position: absolute;
  left: 12px;
  top: 9px;
}
.body,
.input_text,
.multiline_input,
input [type=text],
p {
  font: normal 16px/24px Inter, sans-serif;
  letter-spacing: -.3px;
}
@media only screen and (max-width:600px) {
  .body,
  .input_text,
  .multiline_input,
  input [type=text],
  p {
    font: normal 17px/24px Inter, sans-serif;
    letter-spacing: -.3px;
  }
}
.input_text,
input [type=text] {
  padding: 8px 40px;
  border-radius: 10px;
  background: 0 0;
  color: rgba(var(--primary), 1);
  border: 1px solid rgba(var(--primary), .12);
  transition: all .2s ease;
}
.input_text::-moz-placeholder,
input [type=text]::-moz-placeholder {
  color: rgba(var(--primary), .36);
}
.input_text:-ms-input-placeholder,
input [type=text]:-ms-input-placeholder {
  color: rgba(var(--primary), .36);
}
.input_text::placeholder,
input [type=text]::placeholder {
  color: rgba(var(--primary), .36);
}
.input_text:active,
.input_text:focus,
input [type=text]:active,
input [type=text]:focus {
  outline: none;
  border: 1px solid rgba(var(--brand-1), 1);
}
.stream_url svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 12px;
  top: 9px;
}
.stream_details {
  background: rgba(var(--primary), .04);
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  grid-gap: 6px;
  gap: 6px;
  border-radius: 8px;
}
.stream_details .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stream_details .row span {
  color: rgba(var(--primary), .36);
}
.stream_details .row p,
.stream_details .row span {
  font: normal 11px/14px Inter, sans-serif;
}
@media only screen and (max-width:600px) {
  .stream_details .row p,
  .stream_details .row span {
    font: normal 11px/14px Inter, sans-serif;
  }
}
.canvas {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid transparent;
  padding: 10px;
  display: grid;
  place-items: center;
}
::-webkit-scrollbar {
  width: 8px !important;
  height: 0 !important;
}
div::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.command_bar {
  border-radius: 11px;
  padding: 3px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.command_bar button {
  padding: 7px;
  border-radius: 8px;
  color: rgba(var(--primary), .6);
}
.command_bar button svg {
  width: 24px;
  height: 24px;
}
.command_bar button:hover {
  color: rgba(var(--primary), 1);
}
.modal_container {
  background: rgba(0, 0, 0, .32);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width:600px) {
  .modal_container {
    align-items: flex-end;
    padding-bottom: calc(12px + env(safe-area-inset-bottom, 0)) !important;
  }
}
.modal_nav button {
  padding: 6px;
  line-height: 0;
}
.modal_nav button svg {
  width: 16px;
  height: 16px;
}
.modal_nav.modal-title {
  padding: 12px 12px 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.modal_nav.modal-title:before {
  content: "";
  background: rgba(var(--primary), .04);
  position: absolute;
  inset: auto 16px 0;
  height: 1px;
}
.modal_nav.modal_close {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 10;
}
.round,
.shots-admin .tabs button {
  border-radius: 100px !important;
}
.gray_text {
  color: rgba(var(--primary), .36) !important;
}
.command_bar,
.MuiSlider-root .MuiSlider-rail,
.MuiSlider-root .MuiSlider-thumb,
.MuiSlider-root .MuiSlider-track,
.navbar .name .beta_tag,
.navbar .name > svg,
.navbar .name h4,
.navbar .right button,
.panel .stream_options .stream_btn .light {
  transition: all .2s ease;
}
.feedback_modal .reactions {
  padding: 24px 24px 0;
}
.feedback_modal .reactions .reactions_list {
  display: flex;
  grid-gap: 6px;
  gap: 6px;
  margin: 20px 0;
}
.feedback_modal .reactions .reactions_list .reaction_item {
  flex: 1 1;
  aspect-ratio: 1/1;
  background: rgba(var(--primary), .04);
}
.feedback_modal .reactions .reactions_list .reaction_item.is_active {
  background: rgba(var(--primary), 1);
}
.feedback_modal .message {
  padding: 12px;
}
.feedback_modal .message .multiline_input {
  min-height: 200px;
  background: rgba(var(--primary), .04);
}
.feedback_modal .message .btn_lg_label,
.feedback_modal .message .shots-admin .tabs button,
.feedback_modal .message .upgrade-modal .content .card .plan-btn {
  background: rgba(var(--primary), 1);
  color: rgba(var(--secondary), 1);
  width: 100%;
  margin-top: 12px;
}
.header {
  font: 600 52px/64px Inter, sans-serif;
}
.h1,
.header,
h1 {
  letter-spacing: -1px;
}
.multiline_input {
  padding: 8px 12px;
  border-radius: 10px;
  background: 0 0;
  color: rgba(var(--primary), 1);
  border: 1px solid rgba(var(--primary), .12);
  transition: all .2s ease;
  width: 100%;
}
.multiline_input::-moz-placeholder {
  color: rgba(var(--primary), .36);
}
.multiline_input:-ms-input-placeholder {
  color: rgba(var(--primary), .36);
}
.multiline_input::placeholder {
  color: rgba(var(--primary), .36);
}
.multiline_input:active,
.multiline_input:focus {
  outline: none;
  border: 1px solid rgba(var(--brand-1), 1);
}
.toaster_default,
.toaster_error,
.toaster_success {
  background: rgba(var(--modal), 1) !important;
  border-radius: 20px !important;
  height: 50px !important;
  width: auto;
}
.toaster_default {
  color: rgba(var(--primary), 1) !important;
}
.toaster_success {
  color: var(--success) !important;
}
.toaster_error {
  color: var(--danger) !important;
}
.btn-li-mix,
.panel .head .tabs button {
  padding: 8px;
}
.btn-li-mix svg,
.panel .head .tabs button svg {
  width: 20px;
  height: 20px;
}
.panel .head {
  display: flex;
  justify-content: space-between;
  padding: 6px 6px 0;
  background: rgba(var(--panel), 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 14px 14px 0 0;
}
.panel .head .tabs {
  display: flex;
  align-items: center;
  flex: 1 1;
}
.panel .head .tabs button {
  flex: 1 1;
  color: rgba(var(--primary), .36);
  font: 600 17px/24px Inter, sans-serif;
  letter-spacing: -.6px;
}
@media only screen and (max-width:600px) {
  .panel .head .tabs button {
    font: 500 18px/24px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
.panel .head .tabs button:hover {
  color: rgba(var(--primary), .6);
  background: rgba(var(--primary), .04);
}
.panel .head .tabs .tab_button.active {
  color: rgba(var(--primary), .6);
  background: rgba(var(--primary), .04);
}
.panel .head .tabs button {
  padding: 8px;
}
.panel .head .tabs button svg {
  width: 20px;
  height: 20px;
}
.tab_button.active {
  color: rgba(var(--primary), 1) !important;
}
.chat_panel .panel {
  height: 100%;
}
.panel_option.chat {
  height: 90vh;
}
.panel .chat_pane {
  padding: 40px 10px 10px;
  border-radius: 0 0 14px 14px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  grid-gap: 6px;
  gap: 6px;
  background: linear-gradient(180deg, rgba(var(--panel), 0) 0, rgba(var(--panel), 1) 70%);
  z-index: 10;
}
.panel .chat_pane .wrapper {
  flex: 1 1;
  position: relative;
}
.panel .chat_pane .chat_input button {
  aspect-ratio: 5/4;
}
.panel .chat_pane .chat_input button div {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2px 4px;
  font: 500 14px/20px Inter, sans-serif;
  letter-spacing: -.4px;
  font-weight: 600;
  letter-spacing: .4px;
}
@media only screen and (max-width:600px) {
  .panel .chat_pane .chat_input button div {
    font: 500 14px/20px Inter, sans-serif;
    letter-spacing: -.4px;
  }
}
.input_text.chat {
  padding: 8px 20px;
  border-radius: 10px;
  background: rgba(var(--panel-dim), 1);
  color: rgba(var(--primary), 1);
  border: 1px solid rgba(var(--primary), .12);
  transition: all .2s ease;
}
.input_text.chat:focus {
  border: 1px solid rgba(var(--brand-1), 1);
}
.panel .chat_pane .drop_menu {
  padding: 10px 12px 12px;
  border-radius: 10px;
  display: flex;
  right: 0px;
  flex-direction: column;
  grid-gap: 12px;
  gap: 12px;
}
.styles_wrapper .col-2,
.styles_wrapper .col-3,
.styles_wrapper .col-4 {
  display: grid;
}
.styles_wrapper .col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  gap: 8px;
}
.styles_wrapper .col-4 button {
  display: block;
  padding: 0px;
}
.share_banner {
  background: rgba(var(--primary), .04);
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  grid-gap: 6px;
  gap: 6px;
  border-radius: 8px;
  height: 140px;
}
.share_banner .h_text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.share_banner .h_text span {
  color: rgba(var(--primary), .36);
}
.share_banner .h_text button {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 5px 0 5px;
  border-radius: 8px;
  background: rgba(var(--primary), .04);
}
.share_banner .h_text button:hover {
  color: rgba(var(--primary), .6);
  background: rgba(var(--primary), .04);
}
.share_banner .h_text p {
  font: normal 15px/29px Inter, sans-serif;
}
.share_banner .h_text span {
  font: 600 18px/20px Inter, sans-serif;
}
@media only screen and (max-width:600px) {
  .share_banner .h_text p {
    font: normal 13px/26px Inter, sans-serif;
  }
  .share_banner .h_text span {
    font: 600 18px/20px Inter, sans-serif;
  }
}
.latency_details {
  background: rgba(var(--primary), .04);
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  grid-gap: 6px;
  gap: 6px;
  border-radius: 8px;
}
.latency_details .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latency_details .row span {
  color: rgba(var(--primary), .36);
}
.latency_details .row p {
  font: normal 11px/14px Inter, sans-serif;
}
.row span {
  font: normal 11px/14px Inter, sans-serif;
}
.truncate {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video_container {
  overflow: hidden;
  position: relative;
}
.canvas .preview {
  border-radius: 10px;
  border: 1px solid rgba(var(--primary), .04);
  background-color: rgba(var(--panel), 1);
}
.video-play-button {
  position: absolute;
  z-index: 8;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgba(var(--brand-2), 1);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgba(var(--brand-2), .8);
  border-radius: 50%;
  transition: all 200ms;
}
.video-play-button:hover:after {
  background-color: rgba(var(--brand-3), .8);
}
.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}
.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-play-button svg {
  position: relative;
  z-index: 3;
  right: 2px;
  height: 20px;
  width: 20px;
  stroke: #fff;
  fill: #fff;
}
.modal_container.play {
  position: fixed;
  inset: 0;
  z-index: 9;
  opacity: 1;
}
.modal_effects .play_modal {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.play_modal button {
  padding: 10px;
  width: 80%;
  position: relative;
  margin: 10px;
  border-radius: 13px;
  background: rgba(var(--primary), .04);
}
.play_modal button:hover {
  color: rgba(var(--primary), .6);
}
.play_modal p {
  font: normal 15px/29px Inter, sans-serif;
}
