name: Release CI

on:
  push:

jobs:
  build-warp:
    runs-on: ${{ matrix.os }}
    defaults:
        run:
            working-directory: moq-server/moq-pub
    strategy:
      fail-fast: false
      matrix:
        include:
          - build: linux
            os: ubuntu-latest
            arch: x86_64
            target: x86_64-unknown-linux-gnu
          - build: macos
            os: macos-latest
            arch: x86_64
            target: x86_64-apple-darwin
          - build: macos
            os: macos-latest
            arch: aarch64
            target: aarch64-apple-darwin
          - build: windows
            os: windows-latest
            arch: x86_64
            target: x86_64-pc-windows-msvc

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: 'Setup Rust'
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Install rust target
        run: rustup target add ${{ matrix.target }}

      - uses: actions/upload-artifact@v3
        if: matrix.os == 'ubuntu-latest'
        with:
          name: artifacts-${{ matrix.arch }}
          path: |
            ./target/${{ matrix.target }}/release/bundle/appimage/**.AppImage.*
            ./target/${{ matrix.target }}/release/bundle/deb/**.deb

      - uses: actions/upload-artifact@v3
        if: matrix.os == 'macos-latest'
        with:
          name: artifacts-${{ matrix.arch }}
          path: |
            ./target/${{ matrix.target }}/release/bundle/dmg/**.dmg
            ./target/${{ matrix.target }}/release/bundle/macos/**.app.*

      - uses: actions/upload-artifact@v3
        if: matrix.os == 'windows-latest'
        with:
          name: artifacts-${{ matrix.arch }}
          path: |
            ./target/${{ matrix.target }}/release/bundle/msi/**

  release-warp:
    needs: build-warp
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Query version number
        run: echo "version=${GITHUB_REF:11}" >> $GITHUB_ENV

      - name: Download x86_64 artifacts
        uses: actions/download-artifact@v3
        with:
          name: artifacts-x86_64
          path: artifacts/x86_64

      - name: Download aarch64 artifacts
        uses: actions/download-artifact@v3
        with:
          name: artifacts-aarch64
          path: artifacts/aarch64
        
      - run: |
            ls artifacts/aarch64/dmg/
            ls artifacts/x86_64/dmg/
            ls artifacts/x86_64/deb/warp
    #   - name: Rename artifacts
    #     run: |
    #       mv "artifacts/aarch64/dmg/warp_${{ env.version }}_aarch64.dmg" "artifacts/warp_${{ env.version }}_macos_aarch64.dmg"
    #       mv "artifacts/aarch64/macos/warp.app.tar.gz" "artifacts/warp_${{ env.version }}_macos_aarch64.app.tar.gz"
    #       mv "artifacts/aarch64/macos/warp.app.tar.gz.sig" "artifacts/warp_${{ env.version }}_macos_aarch64.app.tar.gz.sig"

    #       mv "artifacts/x86_64/dmg/warp_${{ env.version }}_x64.dmg" "artifacts/warp_${{ env.version }}_macos_x86_64.dmg"
    #       mv "artifacts/x86_64/macos/warp.app.tar.gz" "artifacts/warp_${{ env.version }}_macos_x86_64.app.tar.gz"
    #       mv "artifacts/x86_64/macos/warp.app.tar.gz.sig" "artifacts/warp_${{ env.version }}_macos_x86_64.app.tar.gz.sig"

    #       mv "artifacts/x86_64/deb/warp_${{ env.version }}_amd64.deb" "artifacts/x86_64/deb/warp_${{ env.version }}_linux_x86_64.deb"
    #       mv "artifacts/x86_64/appimage/warp_${{ env.version }}_amd64.AppImage.tar.gz" "artifacts/warp_${{ env.version }}_linux_x86_64.AppImage.tar.gz"
    #       mv "artifacts/x86_64/appimage/warp_${{ env.version }}_amd64.AppImage.tar.gz.sig" "artifacts/warp_${{ env.version }}_linux_x86_64.AppImage.tar.gz.sig"

    #       mv "artifacts/x86_64/warp_${{ env.version }}_x64_en-US.msi" "artifacts/warp_${{ env.version }}_windows_x86_64.msi"
    #       mv "artifacts/x86_64/warp_${{ env.version }}_x64_en-US.msi.zip" "artifacts/warp_${{ env.version }}_windows_x86_64.msi.zip"
    #       mv "artifacts/x86_64/warp_${{ env.version }}_x64_en-US.msi.zip.sig" "artifacts/warp_${{ env.version }}_windows_x86_64.msi.zip.sig"

    #   - name: Create Release
    #     uses: softprops/action-gh-release@master
    #     env:
    #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     with:
    #       tag_name: v${{ env.version }}
    #       name: Warp Alpha v${{ env.version }}
    #       body: "Download the client below"
    #       prerelease: false
    #       generate_release_notes: false
    #       files: ./artifacts/**/*
    #       draft: true